.checkout {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin: 10px 0 5px;
}

input[type="text"],
input[type="email"],
input[type="radio"] {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="radio"] {
  margin-right: 10px;
}

.credit-card-info,
.paypal-info {
  margin-top: 10px
}

button[type="submit"] {
  padding: 10px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="submit"]:hover {
  background-color: #218838;
}

.checkout-summary {
  margin-top: 20px;
  text-align: center;
}

.checkout-summary a {
  text-decoration: none;
  color: #007bff;
}

.checkout-summary a:hover {
  text-decoration: underline;
}
